* {
    box-sizing: border-box;
}

img {
    width: 50%;
    border-radius: 50%;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    flex-direction: column;
    display: flex;
}

header {
    background-color: blue;
    background-size: cover;
    background-position: 50% 50%;
    padding: 25vw 2vw 5vw 2vw;
    text-align: center;
}

header, main {
    flex:1;
}

header .howdie {
    font-size: 2vw;
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    padding-bottom: 3vw;
}

header h1 {
    color: white;
    margin: 0;
    text-shadow: 0 0 3px darkgray;
    font-size: 3vw;
    padding-bottom: 10vw;
}

header span {
    font-weight: normal;
}

header .icons {
    display: flex;
    padding-top: 8vw;
}

header .left {
    flex: 1;
    text-align: left;
}

header .right {
    flex: 1;
    text-align: right;
}

header .coffee {
    text-align: center;
    border: 1px solid white;
    color: white;
    display: inline;
    padding-left: 4vw;
    padding-right: 6vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 2px;
    font-size: 2vw;
}

.coffee i {
    margin-left: 10vw;
}

.icons {
    flex: 1;
    color: white;
    font-size: 2vw;
}

main {
    padding: 0 3vw 0 3vw;
    font-size: 2vw;
}

main h2 {
    font-size: 3vw;
}

main h3 {
    color: blue;
    text-transform: uppercase;
    text-align: left;
    font-size: 3vw;
}
main i {
    padding-left: 2vw;
    color: blue;
}

ul {
    list-style-type: none;
}



/*Phablet */
@media all and (min-width: 544px) {
    body {
        flex-direction: row;
    }  
}

/*Tablet*/
